<form id="sign-in-form">
  <fieldset>
    <legend>Sign In</legend>
    <div class="form-group row">
    </div>
    <div class="form-group">
      <label for="sign-in-input-username">Username</label>
      <input type="text" class="form-control" id="sign-in-input-username-id" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="sign-in-input-password">Password</label>
      <input type="password" class="form-control" id="sign-in-input-password-id" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="sign-in-input-firstname">First Name</label>
      <input type="text" class="form-control" id="sign-in-input-firstname-id" placeholder="First name">
    </div>
    <div class="form-group">
      <label for="sign-in-input-lastname">Last Name</label>
      <input type="text" class="form-control" id="sign-in-input-lastname-id" placeholder="Last name">
    </div>
    <button type="submit" class="btn btn-outline-info">Submit</button>
  </fieldset>
</form>
