<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">Leonardo Cristhian Gonzales Vargas</div>
  <div class="card-body">
    <p class="card-text">Address1</p>
    <p class="card-text">Address2</p>
    <p class="card-text">City</p>
    <p class="card-text">Zone</p>
    <p class="card-text">Phone</p>
    <button class="btn btn-primary">Deliver to this adress</button>
    <div class="m-1 btn-group " role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">EDIT</button>
      <button type="button" class="btn btn-secondary">DELETE</button>
    </div>
  </div>
</div>


<form class="bg-dark p-2">
    <h3>Add a new Address</h3>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">Adress Identifier:</label>
      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="AdressIdentifier" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Adress Line 1: </label>
      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Address Line1"  required>
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationServer02">Adress Line 2: </label>
        <input type="text" class="form-control is-valid" id="validationServer03" placeholder="Address Line2"  required>
      </div>
    <div class="col-md-4 mb-3">
      <label for="validationServerUsername">City</label>
      <input type="text" class="form-control is-valid" id="validationServer04" placeholder="City" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Phone</label>
      <input type="text" class="form-control is-valid" id="validationServer05" placeholder="Phone" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer04">Zone</label>
      <input type="text" class="form-control is-valid" id="validationServer04" placeholder="Zone" required>

    </div>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
